@import url('https://fonts.googleapis.com/css2?family=Eater&family=Karla:wght@300&family=Lato&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Denk+One&family=Eater&family=Karla:wght@300&family=Lato&family=Playfair+Display&display=swap');


* {
    font-family: 'eater', sans-serif;
  }
  
  .bg-primary-color {
    background-color: #070707;
  }
  
  .bg-secondary-color {
    background-color: #070707;
  }
  
  .bg-dark-color {
    background-color: #070707;
  }
  
  .primary-color {
    color: #553555;
  }
  
  .secondary-color {
    color: #938BA1;
  }

  .third-color{
    color: #FFFBFC;
  }
  
  /* NAVBAR */
  #navbar {
    border-bottom: 1px solid #FFFBFC;
  }
  
  #navbar a {
    color: #553555;
  }
  
  #navbar a:hover {
    color: #938BA1;
  }
  
  #navbar .active {
    border-bottom: 1px solid #FFFBFC;
  }
  
  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    width: 40px;
  }
  
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }
  
  /* SLIDER */
  #slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #553555 2px 2px;
  }
  
  .btn {
    border-radius: 0;
    font-family: 'denk one', sans-serif;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: #FFFBFC;
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #070707;
    opacity: 0.8;
  }
  
  .carousel-indicators .active {
    background-color: #FFFBFC;
  }
  
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #553555 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  
  /* MINI BANNERS */
  #mini-banners {
    margin-bottom: 4em;
    background-color: #FFFBFC;
  }
  
  #mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
    background-color: #070707;
  }
  
  #mini-banners i {
    font-size: 4em;
  }
  
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  
  #mini-banners .card-text{
    font-family: 'denk one', sans-serif;
  }

  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  
  #mini-banners .card {
    margin-bottom: 1em;
  }
  
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }
  
  /* HIGHLIGHTS */
  #featured-container {
    margin-bottom: 4em;
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }

  .subtitle{
    font-family: 'denk one', sans-serif;
    font-size: 20px;
  }
  
  .title:before {
    width: 200px;
    border-top: 4px solid #070707;
    content: '';
    position: absolute;
    bottom: 3em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #FFFBFC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 2.1em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }
  
  /* INFO */
  #info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
  }
  
  #info-numbers {
    margin: 1.5em 0;
  }
  
  #info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 2.5em;
  }
  
  #info-numbers h3 {
    font-size: 3em;
  }
  
  @media (min-width: 768px) {
    #info-content {
      padding: 3.5em;
    }
  }
  
  /* FOOTER TOP */
  #footer {
    padding: 3em 2em;
  }
  
  #footer-top {
    margin-bottom: 2em;
  }
  
  #footer-top,
  #footer-top i {
    color: #553555;
  }
  
 #social-icons {
    text-align: right;
  }
  
  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  #social-icons i:hover {
    color: #938BA1;
  }
  
  /* FOOTER DETAILS */
  #footer-details {
    margin-bottom: 3em;
  }
  
  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
  }
  
  #footer-details h4 {
    color: #938BA1;
    margin-bottom: 1.5em;
  }
  
  #news-container input {
    border-radius: 0;
    border: none;
  }
  
  #links-container li {
    margin-bottom: 0.5em;
  }
  
  #links-container a {
    text-decoration: none;
  }
  
  #links-container a:hover {
    color: #FFFBFC;
  }
  
  /* FOOTER BOTTOM */
  #footer-bottom {
    border-top: 1px solid #FFFBFC;
    padding-top: 2em;
  }
  
  #footer-bottom i {
    color: #553555;
  }
  
  @media (min-width: 768px) {
    #news-container {
      padding-right: 2em;
    }
  
    #contact-container {
      padding: 0 2em;
      border-left: 1px solid #FFFBFC;
      border-right: 1px solid #FFFBFC;
    }
  
    #links-container {
      padding-left: 2em;
    }
  }